@import "src/assets/common/scss/index";

.mod-profitList {
  display: flex;
  flex-direction: column;
  .head{
    transition: padding 0.5s cubic-bezier(0.42, 0, 0.33, 1.24) 0s;
    height:396px;
    width:100%;
    background: url(./img/worldCup.jpeg) no-repeat center center;
  }
  .subTitle{
    align-self: center;
    font-size:36px;
  }
  .selectDiv{
    display: flex;
    align-items: center;
    align-self: center;
    flex-direction: row;
    .country{
      font-size: 20px;
    }
    .select{
      width:100px;
      margin-right: 50px;
    }
  }
  .cotuntryFlag{
    margin-bottom: 20px;
  }
  .option {
    font-size: 20px;
  }
  .content{
    display: flex;
    justify-content: space-between;
    height: 500px;
    width: 100%;
    .countryInfo{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      
    }
    .commitView{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .commit{
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: scroll;
        width: 100%*2/3;
        justify-content: left;
        background-color: #eee;
        height: 400px;
        padding: 10px;
        #commitItem{
           font-size: 15px;
           padding: 5px;
          }
      }
      .add_banner{
        display: flex;
        width: 100%*2/3;
        justify-content: center;
        #add_value{
          width: 63%;
          height: 50px;
          font-size: 15px;
        }
        #smallName{
          width: 15%;
          height: 50px;
          font-size: 15px;
          text-align: center;
        }
        #push{
          flex: 1;
          font-size: 15px;
        }
      }
    }
    
  }
  
}